 .container {
    background-color: purple;
    margin: 5px 10px;
    padding: 2px 10px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

 }

.posts {
  margin: 5px 10px;
  padding: 2px 10px;
}

h2{
    color: aquamarine;
    text-align: left;
    text-decoration-line: underline;
  }

.posts p {
    color: chocolate;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height: 2.5;

  
}